<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" color="#fff" size="large" type="ball-elastic-dots"></ngx-spinner>
<div class="container-fluid">
  <mat-card class="m-4 col-6 mx-auto mat-elevation-z24">
    <mat-card-title class="mx-auto">Login</mat-card-title>

    <mat-card-content class="m-2 ">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input formControlName="username" id="username" matInput type="text">
          <mat-error *ngIf="submitted && f.username.errors?.['required']">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" id="password" matInput type="password">
          <mat-error *ngIf="submitted && f.password.errors?.['required']">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button (click)="login()" color="primary" mat-raised-button>
            Login
          </button>
        </div>

        @if (loginFailed()) {
          <mat-error class="login-error">Failed to Login, Please try again</mat-error>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
