.login-card
{
  max-width: 400px;
  margin: 2rem auto;
  padding: 20px;
}

.full-width
{
  width: 100%;
  margin-bottom: 1rem;
}

.button-container
{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.login-error
{
  text-align: center;
  margin-top: 1rem;
}
